/*-------------FOOTER----------------*/
footer {
    background-color: rgb(224, 223, 223);

    div img {
        width: 170px;
        height: auto;
        padding-left: 20px;
        margin-bottom: -25px;
    }
}

.pie-logo {
    margin-bottom: 60px;

    p {
        font-size: 17px;
        font-weight: 400;
        text-align: left;
        padding-left: 60px;
    }
}

.container-foot {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: solid brown 4px;
}

.contactanos {
    border: rgb(32, 215, 35) solid 4px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-weight: 500;
        font-size: 30px;
        text-align: center;
    }

    p {
        font-size: 20px;
        text-align: center;
    }

}

.seguinos {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: rgb(92, 32, 187) solid 4px;

    h2 {
        font-weight: 500;
        font-size: 30px;
    }

    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;

            a {
                font-size: 20px;
            }
        }
    }

}


.mapa iframe {
    width: 400px;
    height: 300px;
    margin-left: 76%;
    margin-top: -70px;
}

.derechos p {
    color: black;
    font-weight: 600;
    text-align: center;
    top: -25px;
}

/*-----ICONOS BOOTSTRAP-----*/
.red {
    padding-right: 8%;
}

.seguinos ul li {
    font-size: 18px;
    color: #031924bb;

    h2 {
        font-weight: 500;
        font-size: 30px;
        color: rgb(39, 39, 39) !important;
    }
}

.correo {

    i {
        font-size: 18px;
        color: #031924bb;
    }
}