/*----------HEADER------------*/
.navbar {
    margin: 0 !important;
    padding: 0 !important;
}

.navbar-nav {
  display: flex !important;
  justify-content: flex-end !important;
  width: 100%;

  .nav-item {
    a {
      color: rgba(10, 10, 10, 0.952) !important;
    }
  }
}

.navbar-nav {
    font-family: "Exo 2", sans-serif !important;
}

.container-fluid {
    background-color: rgb(224, 223, 223);
    padding: 0 !important;
    margin: 0 !important;

    .navbar-nav {
        .nav-item {
            a {
                color: rgba(10, 10, 10, 0.952) !important;
            }
        }
    }

    .navbar-brand img {
        width: 110px;
        height: auto;
        margin-left: 20px;
    }

    ul {
        display: flex;
        gap: 40px;
        list-style: none;
        padding-right: 100px;
        align-items: center;

        a {
            text-decoration: none;
            color: rgb(39, 36, 36);
            font-size: 28px;
            font-weight: 500;
            transition: 0.3s;

            &:hover {
                background-color: $backround-color;
                border-radius: 60px;
                padding: 5px 15px;
            }
        }
    }
}
.navbar-toggler{
    margin-bottom: 4%;
}

