/*-----------------PAGE VENDER AUTO---------*/

/*-----------MAIN PAG-VENTA-----------*/

.pag-venta {
    background-image: url(../img/backgeneral.png);
    background-repeat: no-repeat;
    background-size: cover;

    section div {
        padding-top: 8%;
        margin: 0 20%;

        h1 {
            border: 3px solid $backround-color;
            background-color: #031924ab;
            border-style: inset;
            font-size: 65px;
            color: $aliceblue;
            text-transform: uppercase;
            font-weight: 400;
            text-align: center;
            width: 100%;
        }

        h2 {
            font-size: 40px;
            color: $aliceblue;
            text-transform: uppercase;
            font-weight: 300;
            text-align: center;
            background-color: #03192452;
        }

        p {
            font-size: 20px;
            color: $aliceblue;
            text-transform: uppercase;
            font-weight: 400;
            background-color: rgba(20, 20, 20, 0.678);
            text-align: center;
            margin-bottom: -80px;
        }
    }
}

/*------------FORMULARIOS-------------VENTA-------------------*/
.row {
    margin: 15% 3% 0% 3%;
    padding-bottom: 15%;
}

.col-md-6 label {
    color: white;
    font-size: 28px;
}

.col-12 {
    color: white;
    font-size: 28px;

    button {
        margin-top: 3%;
        width: 10%;
        height: 40%;
    }
}

.col-md-2 {
    color: white;
    font-size: 28px;
}