/*----PALETA COLORS----*/
$backround-color:#436474;
$titulo-principal: rgb(123, 23, 23);
$fondo-titulo: #436474b6;
$fondo-subtitulo: #43647470;
$aliceblue: aliceblue;

/*-----SELECCION DE BOTONES-----*/
h1::selection {
    background-color: $backround-color;
}

h2::selection {
    background-color: $backround-color;
}

h3::selection {
    background-color: $backround-color;
}

p::selection {
    background-color: $backround-color;
}

ul::selection {
    background-color: $backround-color;
}

/*--------LOGO WSP---------*/
.wsp a img {
    width: 90px;
    height: auto;
    position: fixed;
    bottom: 10%;
    left: 92%;
    z-index: 9999;
}
