/*-------------------------------QUERY-------------------------------------*/
@media screen and (max-width: 2060px) {
    .comprar {
        .title {
            h1 {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1838px) {
    .seguinos {
        ul {
            li {
                h2 {
                    padding-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 1730px) {
    .mapa {
        iframe {
            width: 300px;
            height: 200px;
        }
    }
}

@media screen and (max-width: 1390px) {
    .wsp {
        display: none;
    }

    footer {
        div {
            img {
                width: 200px;
                height: auto;
                margin-left: 40%;
            }
        }

        .derechos {
            p {
                margin-top: 8%;
            }
        }
    }

    .pie-logo {
        margin-bottom: 15%;

        p {
            font-size: 17px;
            text-align: center;
            margin-right: 8%;
        }
    }

    .container-foot {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    .mapa {
        iframe {
            position: absolute;
            width: 280px;
            height: 180px;
            margin-left: 70%;
            margin-top: -24%;
        }
    }

    .correo {
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 18px;
            margin-right: 5px;
            color: #031924bb;
        }
    }
}

@media screen and (max-width: 1230px) {
    .todos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0%;
    }

    .auto4 {
        display: flex;
        margin-top: -30%;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1182px) {
    .pag-principal {

        .tittle {
            display: inline-block;
        }
    }

    .mapa {
        iframe {
            position: absolute;
            width: 250px;
            height: 150px;
            margin-left: 70%;
            margin-top: -24%;
        }
    }
}

@media screen and (max-width: 993px) {


    .container-fluid {
        display: flex;
        flex-direction: column !important;

        .contenedorHeader {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;

            button {
                margin-top: 3%;
                width: 40%;
                height: 30%;
            }
        }

        .navbar-nav {
            flex-direction: row;
            justify-content: center !important;
            padding: 0%;
            margin-left: 4%;
        }

        .navbar-toggler {
            margin: -9% 30% 6% 0;
            width: 10%;
            height: 6%;
            padding: 1%;

        }

        .navbar-toggler-icon {
            background-size: 20px 20px;
        }
    }

}

@media screen and (max-width: 979px) {
    footer {
        div {
            img {
                width: 200px;
                height: auto;
                margin-left: 38%;
            }
        }
    }

    .botones {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
        margin-left: 5%;
        gap: 100px;
    }
}

@media screen and (max-width: 956px) {
    .comprar {
        .title {
            h1 {
                font-size: 50px;
                margin: 0;
                padding: 0;
            }
        }
    }

}

@media screen and (max-width: 871px) {
    .cotizar-mi-auto {
        section.titulos {
            div {
                h2 {
                    font-size: 50px;
                }

                h3 {
                    font-size: 20px;
                }
            }
        }
    }

    .mapa {
        iframe {
            position: absolute;
            width: 200px;
            height: 150px;
            margin-left: 70%;
            margin-top: -24%;
        }
    }
}

@media screen and (max-width: 840px) {
    header {
        nav {
            flex-direction: column;

            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 790px) {


    .todos {
        gap: 0.5%;
    }

    .auto1 {
        p {
            font-size: 20px;
        }

        div {
            width: 75%;

            img {
                width: 300px;
                height: auto;
            }

            h3 {
                font-size: 25px;
            }
        }
    }

    /*-------AUTO 2--------------------*/

    .auto2 {
        div {
            width: 73%;
        }

        img {
            width: 300px;
            height: auto;
            padding: 5%;
        }

        h3 {
            font-size: 25px;
        }

        p {
            font-size: 20px;
        }
    }

    /*------------AUTO 3--------------------*/
    .auto3 {
        div {
            width: 78%;

            img {
                width: 300px;
                height: auto;
            }

            h3 {
                font-size: 25px;
            }

            p {
                font-size: 20px;
            }
        }
    }

    /*------------AUTO 4--------------------*/
    .auto4 {
        div {
            width: 74%;

            img {
                width: 300px;
                height: auto;
            }

            h3 {
                font-size: 25px;
            }

            p {
                font-size: 20px;
            }
        }
    }

}

@media screen and (max-width: 775px) {
    .pag-venta {
        section {
            div {
                h1 {
                    font-size: 50px;
                }

                h2 {
                    font-size: 30px;
                }

                p {
                    font-size: 15px;
                }
            }
        }
    }

    .centro {
        text-align: center;
    }

    .col-12 {
        button {
            padding: 2% 2%;
            width: 20%;
            height: auto;
            max-width: 100%;
        }
    }

    footer {
        div {
            img {
                width: 200px;
                height: auto;
                margin-left: 36%;
            }
        }
    }

    .botones {
        .comprar-auto {
            h2 {
                a {
                    font-size: 40px;
                    font-weight: 600;
                }
            }
        }

        .vender-auto {
            div {
                h2 {
                    a {
                        font-size: 42px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 740px) {
    .pag-principal {
        .tittle {
            h1 {
                font-size: 50px;
            }

            h2 {
                font-size: 30px;
            }
        }
    }

    .mapa {
        iframe {
            position: absolute;
            width: 150px;
            height: 100px;
            margin-left: 70%;
            margin-top: -24%;
        }
    }
}


@media screen and (max-width: 685px) {
    .pag-principal {
        .tittle {
            h1 {
                font-size: 50px;
            }

            h2 {
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .cotizar-mi-auto {
        section.titulos {
            div {
                h2 {
                    font-size: 40px;
                }

                h3 {
                    font-size: 16px;
                }
            }
        }
    }
}



@media screen and (max-width: 586px) {
    .contacto {
        .titulos {
            h1 {
                font-size: 40px;
            }
        }

        section.titulos {
            h2 {
                font-size: 23px;
            }
        }
    }

    footer {
        div {
            img {
                width: 200px;
                height: auto;
                margin-left: 30%;
            }
        }
    }
}


@media screen and (max-width: 550px) {
    .pag-principal {
        .tittle {

            h1 {
                font-size: 40px;
            }

            h2 {
                font-size: 25px;
            }
        }
    }


    /*-------AUTO 2--------------------*/
    .auto2 {
        div {
            width: 73%;
        }

        img {
            width: 300px !important;
            height: auto !important;
            padding: 5%;
        }

        h3 {
            font-size: 25px;
        }

        p {
            font-size: 20px;
        }
    }

    footer {
        .mapa {
            display: none;
        }
    }
}


@media screen and (max-width: 560px) {
    .comprar {
        .title {
            h1 {
                font-size: 35px;
            }

            h2 {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 514px) {
    .pag-principal {
        .tittle {
            margin: 10%;

            h1 {
                font-size: 40px;
            }

            h2 {
                font-size: 25px;
            }
        }
    }
}

@media screen and (max-width: 492px) {
    .cotizar-mi-auto {
        section.titulos {
            div {
                h2 {
                    font-size: 30px;
                }

                h3 {
                    font-size: 16px;
                }
            }
        }
    }

    .pag-venta {
        section {
            div {
                h1 {
                    font-size: 45px;
                }

                h2 {
                    font-size: 25px;
                }

                p {
                    font-size: 12px;
                    margin-bottom: 1%;
                }
            }
        }
    }
}

@media screen and (max-width: 481px) {
    header {
        .navbar-nav {
            li {
                a {
                    font-size: 23px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 460px) {
    .botones {
        .comprar-auto {
            h2 {
                a {
                    font-size: 36px;
                    font-weight: 550;
                }
            }
        }

        .vender-auto {
            div {
                h2 {
                    a {
                        font-size: 38px;
                        font-weight: 550;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .auto1 {
        div {
            width: 80%;

            img {
                width: 200px;
                height: auto;
            }
        }
    }

    /*-------AUTO 2--------------------*/
    .auto2 {
        div {
            width: 75%;

            img {
                width: 200px;
                height: auto;
            }
        }
    }

    /*-------AUTO 3--------------------*/
    .auto3 {
        div {
            width: 85%;

            img {
                width: 200px;
                height: auto;
            }
        }
    }

    /*------------AUTO 4--------------------*/
    .auto4 {
        div {
            width: 75%;

            img {
                width: 200px;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 432px) {
    .comprar {
        .title {
            h1 {
                font-size: 30px;
            }

            h2 {
                font-size: 11px;
            }
        }
    }

    footer {
        div {
            img {
                width: 200px;
                height: auto;
                margin-left: 25%;
            }
        }
    }

    .pag-principal {
        .tittle {
            margin: 10%;

            h1 {
                font-size: 40px;
            }

            h2 {
                font-size: 25px;
            }
        }
    }
}

@media screen and (max-width: 409px) {
    header {
        .navbar-nav {
            li {
                a {
                    font-size: 20px !important;
                }
            }
        }
    }

    /*-------AUTO 2--------------------*/

    .auto2 {
        div {
            width: 77%;
        }

        img {
            width: 270px !important;
            height: auto !important;
            padding: 5%;
        }

        h3 {
            font-size: 25px;
        }

        p {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 390px) {
    .botones {
        .comprar-auto {
            h2 {
                a {
                    font-size: 33px;
                    font-weight: 530;
                }
            }
        }

        .vender-auto {
            div {
                h2 {
                    a {
                        font-size: 35px;
                        font-weight: 530;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 386px) {
    .comprar {
        .title {
            h1 {
                font-size: 20px;
            }

            h2 {
                font-size: 9px;
            }
        }
    }
}

@media screen and (max-width: 372px) {
    header {
        .navbar-nav {
            li {
                a {
                    font-size: 17px !important;
                }
            }
        }
    }
}